@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

 .container {
     border: 1px dotted orange;
     text-align: center;
     font-size: 2rem;
     text-shadow: 2px 2px #0e2231;
     color: green;
     font-family: 'Open Sans', sans-serif;
 }

.main p{
 text-align: center;
 text-transform: uppercase;
 text-shadow: #2c2c2c 3px 3px 5px;
}
