@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

$base-color: #c6538c;
$border-dark: rgba($base-color, 0.88);
.container {
  border: 1px dashed $border-dark;
  font-size: 2rem;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 2px 2px #0e2231;
  color: #fff;
}
